<html>

<head>
    <title>Login</title>
    <link href="../static/sign_log.css" rel="stylesheet">
</head>

<body>
    <h1> Log In!</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="log">
        <form method="POST" action="/login">
            <input type="text" name="Username2" placeholder="Username goes here" />
            <input type="text" name="Password2" placeholder="Password goes here" />
            <input type="text" name="Email2" placeholder="Email goes here" />
            <input type="submit" value="Login In Now!!" />
        </form>
    </div>
    <div class="signup_button">
        <a href="/signup"> Sign Up Here!!</a>
    </div>
</body>

</html>